<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Classic Bobbers</h1>
      <p class="lead text-muted">Este es un espacio dedicado para los apasionados por el motociclismo puro, encuentra los ultimos lanzamientos de motocicletas clasicas</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-12">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Continental GT.jpg', width: "100%" , height: "800"%>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>

</main>