<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Historia</h1>
      <p class="lead text-muted">Conoce un poco sobre la historia de las motocicletas clasicas.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Continental GT.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Continental GT. Inglaterra, año 1960 Hombres y mujeres jóvenes acuden en masa a los cafés en sus motocicletas despojadas, creando una cultura de estilo. El #ContinentalGT es un guiño a ese momento. La máquina con una historia nos retrotrae a la época en que el motociclismo se basaba en hacer una declaración. Mira la película para revivir el fenómeno cultural que se niega a desvanecerse..</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Classic-2.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Classic 500
                An old-school, post-war design built around an engine that you can count on. That's Classic, the machine that bears on simple pleasures of motorcycling, while being dependable enough to ride through any terrain. In it, the tradition of an iconic past exists in harmony with modern technology. Timeless, looking through tomorrow</p>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Himalayan.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Décadas de expediciones. Miles de kilómetros de atravesar los terrenos más desafiantes. Años de vivir y evolucionar con una máquina que responde a las montañas. Así es como hicimos #Himalayan, nuestra primera motocicleta especialmente diseñada. Así es como fue construido para ser resistente, versátil y adaptable a todo tipo de terrenos.</p>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Interceptor.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Interceptor. Marca el regreso de una de las motocicletas clásicas de Royal Enfield más aclamadas de todos los tiempos. Se remonta a una época en la que todo lo que importaba era que el sol de California brillara, y las olas estuvieran aptas para surfear. La nueva Interceptor mantiene todo ese encanto que la convirtió en leyenda. Aquí está la hisotria..</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</main>