<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Motocicletas</h1>
      <p class="lead text-muted">Conoce un poco sobre las caracteristicas de las motocicletas clasicas.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">

        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Continental GT.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Continental GT, innovando con su motor bicilindrico y cilindrada de 650cc.</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Classic-2.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Classic 500. Con su concepto que perdura desde 1904, motor de piston de recorrido largo y sus 500 cc de potencia pura</p>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Himalayan.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Himalayan. Su nombre radica de los montes himalaya, construida para el doble proposito, es una de las motos innovadoras de la marca con sus 411cc.</p>
            </div>
          </div>
        </div>


        <div class="col-md-3">
          <div class="card mb-4 shadow-sm">
            <%= image_tag 'Interceptor.jpg', width: "100%" , height: "225"%>
            <div class="card-body">
              <p class="card-text">Interceptor. Bicilindrica que ofrece un confort en la posicion de manejo, ademas de conservar su estilo clasico y con un motor bicilindrico 650cc..</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

</main>